dev/pug/pages/index.pug
extends ../config/_template
append config

block header
    header.header
        header.header__wrap-1
            h1.header__title Paradigm shift
            p.header__description A free responsive template designed by @ajlkn / HTML5 up. Developed by León Emil
        .header__wrap-2
            .header__image-container
                img(src= headerImage.src, alt= headerImage.alt, class= headerImage.class)
block section1
    section.section-1
        header.section-1__wrap-1
            h2.section-1__title MAGNA SED NULLAM NISL ADIPISCING
        .section-1__wrap-2
            p.section-1__text Lorem ipsum dolor sit amet consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.
            .section-2__image-container
                img(src= secondImage.src, alt= secondImage.alt, class= secondImage.class)
block section2
    section.section-2
        header.section-2__wrap-1
            h2.section-2__title FEUGIAT CONSEQUAT TEMPUS ULTRICES
        .section-2__wrap-2
            p.section-2__text Etiam tristique libero eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum.
            ul.section-2__list
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
            p.section-2__text Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.
block section3
    section.section-3
        header.section-3__wrap-1
            h2.section-3__title ULTRICES ERAT MAGNA SED CONDIMENTUM
        .section-3__wrap-2
            p.section-3__text Integer mollis egestas nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
            h3.section-3__subtitle ERAT ALIQUAM
            p.section-3__text Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt ipsum suspendisse ultrices gravida.
            .section-3__grid
                .section-3__image-container-1
                    img(src= thirdImage.src, alt= thirdImage.alt, class= thirdImage.class)
                .section-3__image-container-2
                    img(src= fourthImage.src, alt= fourthImage.alt, class= fourthImage.class)
                .section-3__image-container-3
                    img(src= fifthImage.src, alt= fifthImage.alt, class= fifthImage.class)
                .section-3__image-container-4
                    img(src= sixthImage.src, alt= sixthImage.alt, class= sixthImage.class)
block section4
    section.section-4
        header.section-4__wrap-1
            h2.section-4__title NISL CONSEQUAT
            p.section-4__text Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.
        .section-4__wrap-2
            .section-4__grid
                .section-4__image-container-1
                    img(src= seventhImage.src, alt= seventhImage.alt, class= seventhImage.class)
                .section-4__image-container-2
                    img(src= eighthImage.src, alt= eighthImage.alt, class= eighthImage.class)
                .section-4__image-container-3
                    img(src= ninthImage.src, alt= ninthImage.alt, class= ninthImage.class)
block section5
    section.section-5
        header.section-4__wrap-1
            h2.section-5__title LOREM GRAVIDA
            p.section-5__text Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore. ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.
        .section-4__wrap-2
            .section-5__grid
                .section-5__image-container-1
                    img(src= tenthImage.src, alt= tenthImage.alt, class= tenthImage.class)
                .section-5__image-container-2
                    img(src= eleventhImage.src, alt= eleventhImage.alt, class= eleventhImage.class)
                .section-5__image-container-3
                    img(src= twelfthImage.src, alt= twelfthImage.alt, class= twelfthImage.class)
block section6
    section.section-6
        header.section-6__wrap-1
            h2.section-6__title DUIS SED ADPISCING VEROEROS AMET
        .wrap-2
            p.section-6__text Proin tempus feugiat sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
            p.section-6__text
            .section-6__buttons-content
                a.section-6__button-1(href="section-6__button-1") Get starter
                a.section-6__button-2(href="section-6__button-2") Learn more
block footer
    footer.footer
        .footer__wrap-1
            h3.section-6__title GET IN TOUCH
        .footer__wrap-2
            p.section-6__text Auctor commodo interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
            form.form(action="#")
                
                input.form__name(type="text", name="name" placeholder="Name")

                input.form__mail(type="mail", name="mail" placeholder="Email")

                textarea.form__textarea(name="text" placeholder="Message")
                input.form__submit(type="submit", value= "Send Message")
            .footer__contact-section
                .contact
                    h4 Email
                    a.contact__link(href="#") information@untitled.ext
                    h4 Phone
                    a.contact__link(href="#") (000) 000-0000
                    h4 Address
                    p 1234 Somewhere Road, Nashville, TN 00000
                h4.social-media__title ELSEWHERE
                ul.social-media
                    li.social-media__item
                        a(href="#" class="social-media__link twitter")
                            span.social-media__description Twitter
                    li.social-media__item
                        a(href="#" class="social-media__link facebook")
                            span.social-media__description Facebook
                    li.social-media__item
                        a(href="#" class="social-media__link instagram")
                            span.social-media__description Instagram
                    li.social-media__item
                        a(href="#" class="social-media__link linkedin")
                            span.social-media__description Linkedin
                    li.social-media__item
                        a(href="#" class="social-media__link github")
                            span.social-media__description GitHub
                    li.social-media__item
                        a(href="#" class="social-media__link codepen")
                            span.social-media__description CodePen
            .copyright
                p.copyrigth__text © Untitled. All rights reserved. Design: HTML5 UP. Demo Images: Unsplash.

public/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Paradigm Shift | HTML5 UP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Say hello to Paradigm Shift, my first addition to HTML5 UP in more than a year (!!!). Took things in a slightly different direction with this one, partly to mess with CSS grid (which this one relies on pretty heavily) but mostly to get back to making weirder and more experimental designs/layouts. Anyway, hope you dig it, and thanks for the continued support despite the lack of updates :)">
    <meta name="keywords" content="html5, css3, responsive, site template, website template">
    <meta name="apple-mobile-web-app-title" content="HTML5 UP">
    <meta property="og:site_name" content="HTML5 UP">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Paradigm Shift by HTML5 UP">
    <meta property="og:image" content="https://html5up.net/uploads/cards/paradigm-shift.jpg">
    <meta property="og:description" content="Say hello to Paradigm Shift, my first addition to HTML5 UP in more than a year (!!!). Took things in a slightly different direction with this one, partly to mess with CSS grid (which this one relies on pretty heavily) but mostly to get back to making weirder and more experimental designs/layouts. Anyway, hope you dig it, and thanks for the continued support despite the lack of updates :)">
    <meta property="og:url" content="http://html5up.net/paradigm-shift">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@ajlkn">
    <meta property="twitter:creator" content="@ajlkn">
    <link rel="canonical" href="https://html5up.net/paradigm-shift">
    <link rel="icon" href="https://html5up.net//assets/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="https://html5up.net/assets/icons/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://html5up.net/uploads/demos/paradigm-shift/assets/css/fontawesome-all.min.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <header class="header__wrap-1">
          <h1 class="header__title">Paradigm shift</h1>
          <p class="header__description">A free responsive template designed by @ajlkn / HTML5 up. Developed by León Emil</p>
        </header>
        <div class="header__wrap-2">
          <div class="header__image-container"><img class="header__cover" src="https://res.cloudinary.com/leonemil/image/upload/v1578232673/Paradigm%20shift/girl.jpg" alt="Imagen de una chica vestida de rosa mirando al horizonte sosteniendo la gorra que lleva puesta con una mano"></div>
        </div>
      </header>
      <section class="section-1">
        <header class="section-1__wrap-1">
          <h2 class="section-1__title">MAGNA SED NULLAM NISL ADIPISCING</h2>
        </header>
        <div class="section-1__wrap-2">
          <p class="section-1__text">Lorem ipsum dolor sit amet consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
          <div class="section-2__image-container"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232678/Paradigm%20shift/walking-man.jpg" alt="Imagen de hombre con barba caminando en la vereda"></div>
        </div>
      </section>
      <section class="section-2">
        <header class="section-2__wrap-1">
          <h2 class="section-2__title">FEUGIAT CONSEQUAT TEMPUS ULTRICES</h2>
        </header>
        <div class="section-2__wrap-2">
          <p class="section-2__text">Etiam tristique libero eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum.</p>
          <ul class="section-2__list">
            <li class="section-2__list-item">Consequat tempus</li>
            <li class="section-2__list-item">Consequat tempus</li>
            <li class="section-2__list-item">Consequat tempus</li>
            <li class="section-2__list-item">Consequat tempus</li>
            <li class="section-2__list-item">Consequat tempus</li>
            <li class="section-2__list-item">Consequat tempus</li>
          </ul>
          <p class="section-2__text">Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
        </div>
      </section>
      <section class="section-3">
        <header class="section-3__wrap-1">
          <h2 class="section-3__title">ULTRICES ERAT MAGNA SED CONDIMENTUM</h2>
        </header>
        <div class="section-3__wrap-2">
          <p class="section-3__text">Integer mollis egestas nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
          <h3 class="section-3__subtitle">ERAT ALIQUAM</h3>
          <p class="section-3__text">Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt ipsum suspendisse ultrices gravida.</p>
          <div class="section-3__grid">
            <div class="section-3__image-container-1"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232669/Paradigm%20shift/blonde-girl.jpg" alt="Imagen de una chica rubia tapandose la cara"></div>
            <div class="section-3__image-container-2"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232678/Paradigm%20shift/wolf.jpg" alt="Imagen de un lobo caminando en el campo"></div>
            <div class="section-3__image-container-3"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232666/Paradigm%20shift/edification.jpg" alt="Imagen de un edificio"></div>
            <div class="section-3__image-container-4"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232674/Paradigm%20shift/bicicle.jpg" alt="Imagen de una bicicleta plateada"></div>
          </div>
        </div>
      </section>
      <section class="section-4">
        <header class="section-4__wrap-1">
          <h2 class="section-4__title">NISL CONSEQUAT</h2>
          <p class="section-4__text">Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>
        </header>
        <div class="section-4__wrap-2">
          <div class="section-4__grid">
            <div class="section-4__image-container-1"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232667/Paradigm%20shift/apartaments.jpg" alt="Imagen de unos edificios de apartamentos de colores"></div>
            <div class="section-4__image-container-2"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232669/Paradigm%20shift/hand.jpg" alt="Imagen de una mano sosteniendo una zapatilla"></div>
            <div class="section-4__image-container-3"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232669/Paradigm%20shift/desktop-birds.jpg" alt="Imagen de un escritorio con cuadernos y lapices y unos pajaros volando alrededor"></div>
          </div>
        </div>
      </section>
      <section class="section-5">
        <header class="section-4__wrap-1">
          <h2 class="section-5__title">LOREM GRAVIDA</h2>
          <p class="section-5__text">Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore. ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p>
        </header>
        <div class="section-4__wrap-2">
          <div class="section-5__grid">
            <div class="section-5__image-container-1"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232678/Paradigm%20shift/mountains.jpg" alt="Imagen de unas montañas de colores"></div>
            <div class="section-5__image-container-2"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232673/Paradigm%20shift/basket.jpg" alt="Imagen de personas jovenes jugando al basquet"></div>
            <div class="section-5__image-container-3"><img class="grid-image" src="https://res.cloudinary.com/leonemil/image/upload/v1578232677/Paradigm%20shift/monument.jpg" alt="Imagen de un gran salon blanco dentro de un edificio con forma de cúpula redondeada"></div>
          </div>
        </div>
      </section>
      <section class="section-6">
        <header class="section-6__wrap-1">
          <h2 class="section-6__title">DUIS SED ADPISCING VEROEROS AMET</h2>
        </header>
        <div class="wrap-2">
          <p class="section-6__text">Proin tempus feugiat sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.</p>
          <p class="section-6__text"></p>
          <div class="section-6__buttons-content"><a class="section-6__button-1" href="section-6__button-1">Get starter</a><a class="section-6__button-2" href="section-6__button-2">Learn more</a></div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer__wrap-1">
          <h3 class="section-6__title">GET IN TOUCH</h3>
        </div>
        <div class="footer__wrap-2">
          <p class="section-6__text">Auctor commodo interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.</p>
          <form class="form" action="#">
            <input class="form__name" type="text" name="name" placeholder="Name">
            <input class="form__mail" type="mail" name="mail" placeholder="Email">
            <textarea class="form__textarea" name="text" placeholder="Message"></textarea>
            <input class="form__submit" type="submit" value="Send Message">
          </form>
          <div class="footer__contact-section">
            <div class="contact">
              <h4>Email</h4><a class="contact__link" href="#">information@untitled.ext</a>
              <h4>Phone</h4><a class="contact__link" href="#">(000) 000-0000</a>
              <h4>Address</h4>
              <p>1234 Somewhere Road, Nashville, TN 00000</p>
            </div>
            <h4 class="social-media__title">ELSEWHERE</h4>
            <ul class="social-media">
              <li class="social-media__item"><a class="social-media__link twitter" href="#"><span class="social-media__description">Twitter</span></a></li>
              <li class="social-media__item"><a class="social-media__link facebook" href="#"><span class="social-media__description">Facebook</span></a></li>
              <li class="social-media__item"><a class="social-media__link instagram" href="#"><span class="social-media__description">Instagram</span></a></li>
              <li class="social-media__item"><a class="social-media__link linkedin" href="#"><span class="social-media__description">Linkedin</span></a></li>
              <li class="social-media__item"><a class="social-media__link github" href="#"><span class="social-media__description">GitHub</span></a></li>
              <li class="social-media__item"><a class="social-media__link codepen" href="#"><span class="social-media__description">CodePen</span></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p class="copyrigth__text">© Untitled. All rights reserved. Design: HTML5 UP. Demo Images: Unsplash.</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="script.js"></script>
  </body>
</html>
